/******************************
ESTILOS COLORES: colores.css;
*******************************/
.orange {
    color: #F78536;
}
.light-blue-grey {
    color: #DFEBED;
}
.blue {
    color: #497285;
}
.dark-blue {
    color: #2B4450;
}
.orange-bg {
    background-color: #F78536;
}
.light-blue-grey-bg {
    background-color: #DFEBED;
}
.blue-bg {
    background-color: #497285;
}
.dark-blue-bg {
    background-color: #2B4450;
}
.white {
    color: white !important
}
/**/