/******************************
ESTILOS CONTENIDO PPAL: cont-ppal.css;
*******************************/
#cont-ppal {

	& #abside-cont {
		display: grid;
		grid-template-rows: auto 1fr;
		height: 98vh;
	}
	& #abside {
		background: var(--colorPrimario);
		border-radius: .7rem 0 0 .7rem;
		color: var(--colorBlanco);
		padding: 1.5rem;
		width: 100%;

		& a {color: white;transition: .3s;}
		& a:hover {color: color(var(--colorSec));transition: .3s;}

	}
	& #cont-ppal-header {
		background: var(--colorPpal);
		padding: 1rem;
		text-shadow: 0 .5px hsl(0,0%,80%),
		0 1px hsl(0,0%,75%),
		0 1.5px hsl(0,0%,70%),
		0 2px hsl(0,0%,65%),
		0 1.5px hsl(0,0%,55%);

		& h1 {
			color: white !important;
		}
	}
	& #cont-ppal-tabs {

		& li a{font-size: responsive 1.1rem 1.6rem;}
		
		& i {@media (--mobile){display: none;}}
		
		& i {@media (--tablet-v){display: none;}}
	}
	
	#iconos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		justify-content: space-evenly; 
	}

	& .tabs > li {
		background-color: var(--colorPrimarioOscuro);
		border-radius: .7rem 0 0 .7rem;
		margin-bottom: 1px;

		& a {
			color: var(--colorBlanco);
			font-size: responsive 1.6rem 1.8rem;
			
		}
	}

	& .tabs-title > a:focus, .tabs-title > a[aria-selected="true"] {
		background: color(var(--colorPrimario) lightness(35%));
		border-radius: .7rem 0 0 .7rem;
		color: var(--colorBlanco);
		outline: none;
	}
	& .tabs-title > a:hover {
		background: color(var(--colorPrimario) lightness(42%));
		border-radius: .7rem 0 0 .7rem;
		color: var(--colorBlanco);
		outline: none;
	}	
}
/**/