/******************************
ESTILOS CONTENIDO DEFINIENDO TAMAÑO COLUMNAS: t-columnas.css;
*******************************/
#t-columnas {
	padding: 2rem;
	
	& .padre {
		display: grid;
		grid-template-columns: 20% 50% 30%;

	}
	& .hijo {
	  background-color: color(var(--colorAmarillo) lightness(80%));
	  border: 1px solid var(--colorGris);
	  padding:  1rem;
	  text-align: center;
	}	
}
/**/