  <!-- ********** CONTENIDO PÁGINA -->
  <section id="cont-ppal" class="">
    <header id="cont-ppal-header">
      <div class="contenedor">
        <h1 id="cont-ppal-header-h1"><i class="fa fa-th-large fa-lg" aria-hidden="true"></i> CSS Grid Layout</h1>      
      </div>      
    </header>
    <div class="contenedor">
      <p><span class="lead">CSS Grid Layout es el sistema de diseño más poderoso disponible en CSS.</span><br>
      Es un sistema bidimensional, lo que significa que puede manejar tanto columnas como filas, a diferencia de flexbox, que es en gran medida un sistema de 1 dimensión.</p>
      <p>Cuando trabajas con Grid Layout aplicas reglas CSS tanto para un elemento padre (que se convierte en el Contenedor Grid) como para los elementos hijos (que se convierten en Grid Items).</p>
            
      <!-- <div class="columns small-6 right" data-sticky-container>
      <div class="sticky" data-sticky data-margin-top="0"> -->

      <!-- /////// Tabs para el contenido de cada tema -->
      <div class="row collapse mt-4">
        <div class="small-3 columns" data-sticky-container>
          <div class="sticky" data-sticky data-top-anchor="1top" id="abside-cont">
            <ul class="vertical tabs sticky" data-tabs id="cont-ppal-tabs">
              <!-- Conceptos fundamentales -->
              <li class="tabs-title is-active"><a href="#cont-ppal-tabs-panel1" aria-selected="true"><i class="fa fa-book fa-lg" aria-hidden="true">&nbsp;</i>Conceptos fundamentales</a></li>
              <!-- Definiendo columnas -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel2"><i class="fa fa-barcode fa-lg" aria-hidden="true">&nbsp;</i>Definiendo columnas</a></li>
              <!-- Definiendo filas -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel3"><i class="fa fa-bars fa-lg" aria-hidden="true">&nbsp;</i>Definiendo Filas</a></li>
              <!-- Grids identados -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel4"><i class="fa fa-th fa-lg" aria-hidden="true">&nbsp;</i>Grids identados</a></li>
              <!-- Espaciado entre filas y columnas -->              
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel5"><i class="fa fa-arrows fa-lg" aria-hidden="true">&nbsp;</i>Espaciado</a></li>
              <!-- Repetidores, unidades de medida y funciones -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel6"><i class="fa fa-repeat fa-lg" aria-hidden="true">&nbsp;</i>Repetidores</a></li>
              <!-- Definiendo areas de contenido -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel7"><i class="fa fa-table fa-lg" aria-hidden="true">&nbsp;</i>Áreas de contenido</a></li>
              <!-- Definiendo el tamaño de las columnas -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel8"><i class="fa fa-arrows-h fa-lg" aria-hidden="true">&nbsp;</i>Tamaño columnas</a></li>
              <!-- Definiendo el tamaño de las filas -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel9"><i class="fa fa-arrows-v fa-lg" aria-hidden="true">&nbsp;</i>Tamaño filas</a></li>
              <!-- Definiendo el nombre de líneas -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel10"><i class="fa fa-ellipsis-h fa-lg" aria-hidden="true">&nbsp;</i>Nombre de líneas</a></li>
              <!-- Manejando el grid implicito -->
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel11"><i class="fa fa-random fa-lg" aria-hidden="true">&nbsp;</i>Grid implicito</a></li>
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel12"><i class="fa fa-align-center fa-lg" aria-hidden="true">&nbsp;</i>Alineación de contenido</a></li>
              <li class="tabs-title"><a href="#cont-ppal-tabs-panel13"><i class="fa fa-columns fa-lg" aria-hidden="true">&nbsp;</i>Alineación de filas y columnas</a></li>
            </ul>
            <div class="mt-1" id="abside">
              Enrique Valerio              
            </div>
          </div>
        </div><!-- /.columns -->

        <div class="columns" id="1top">
          <div class="tabs-content" data-tabs-content="cont-ppal-tabs">
            <!-- Conceptos fundamentales -->
            <div class="tabs-panel is-active" id="cont-ppal-tabs-panel1">
              @include('./partials/conceptos-fundamentales.html')
            </div>
            <!-- Definiendo columnas -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel2">
              @include('./partials/definiendo-columnas.html')              
            </div>
            <!-- Definiendo filas -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel3">
              @include('./partials/definiendo-filas.html')
            </div>
            <!-- Grids identados y tipos de displays -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel4">
              @include('./partials/grids-identados.html')              
            </div>
            <!-- Espaciado entre filas y columnas -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel5">
              @include('./partials/espaciado.html')              
            </div>
            <!-- Repetidores, unidades de medida y funciones -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel6">
              @include('./partials/repetidores.html')              
            </div>
            <!-- Definiendo areas de contenido -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel7">
              @include('./partials/definiendo-areas.html')              
            </div>
            <!-- Definiendo el tamaño de las columnas -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel8">
              @include('./partials/t-columnas.html')              
            </div>
            <!-- Definiendo el tamaño de las filas -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel9">
              @include('./partials/t-filas.html')              
            </div>
            <!-- Definiendo el nombre de líneas -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel10">
              @include('./partials/nombre-lineas.html')
            </div>
            <!-- Manejando el grid implicito -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel11">
              @include('./partials/grid-implicito.html')
            </div>
            <!-- Alineacion de contenido -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel12">
              @include('./partials/alineacion-contenido.html')
            </div>
            <!-- Alineacion de filas y columnas -->
            <div class="tabs-panel" id="cont-ppal-tabs-panel13">
              @include('./partials/alineacion-filas-columnas.html')
            </div>
          </div><!-- /.tabs-content -->
        </div><!-- /.columns -->
      </div><!-- /.row collapse -->
    </div><!-- /.contenedor -->
  </section>
  <!-- /. CONTENIDO PÁGINA -->