  <!-- ********** Definiendo areas de contenido -->
  <section id="definiendo-areas" class="">
    <h2>Definiendo areas de contenido</h2>    
    <div class="contenedor">
      <p>por lo general nuestra web no será una simple grilla de columnas y filas en forma de "cuadrícula" o tablero de ajedrez... por eso es que <strong>Grids CSS</strong> permite indicar el nombre y posición concreta de cada área de una cuadrícula. Utilizando la propiedad <code>grid-template-areas</code>, para especificar el orden de las distintas áreas en la cuadrícula, y luego en cada ítem hijo, usamos la propiedad <code>grid-area</code> para indicar el nombre del área en específico.</p>
      <table>
        <thead>
          <tr>
            <th>Propiedad</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>grid-template-areas</strong></td>
            <td>Indica la disposición de las áreas en el grid. Cada texto entre comillas simboliza una fila.</td>
          </tr>
          <tr>
            <td><strong>grid-area</strong></td>
            <td>Indica el nombre del área. Se usa sobre ítems hijos del grid.</td>
          </tr>
        </tbody>
      </table>
      <p>De esta manera, es muy fácil crear una grilla totalmente personalizada con sólo unas cuantas líneas de CSS:</p>
      <pre>      
      <b>HTML</b>
      &lt;div class="padre mt-2">
        &lt;div class="hijo head">Cabecera&lt;/div> 
        &lt;div class="hijo aside">Aside&lt;/div>
        &lt;div class="hijo main">Contenido&lt;/div>
        &lt;div class="hijo footer">Footer o pié&lt;/div>
      &lt;/div>

      <b>CSS</b>
      .padre {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 8fr 1fr;
        grid-template-areas: "head head" 
                             "aside main" 
                             "footer footer";
        height: 70vh;
      }

      .hijo {
        border: 1px solid #777;
        padding: 10px;
        text-align: center;
      }
      <b class="color-verde"><big>◀</big> cada item debe tener una clase propia</b>

      </pre>

      <div class="padre mt-2">
        <div class="hijo head">Cabecera</div>
        <div class="hijo aside">Aside</div>
        <div class="hijo main">Contenido</div>
        <div class="hijo footer">Footer o pié</div>
      </div>
      <br>
      
      <p>En la propiedad <code>grid-template-areas</code>, también podemos indicar una <strong>palabra clave</strong> en lugar de indicar el nombre del área:</p>
      <ul>
        <li>La palabra clave <strong>none</strong>: Indica que no se colocará ninguna celda en esta posición.</li>
        <li>Uno o más puntos (<em>.</em>): Indica que se colocará una celda vacía en esta posición.</li>
      </ul>
      <br>
    </div><!-- /.contenedor -->
  </section>
  <!-- /. Definiendo columnas -->