<!doctype html>
<html class="no-js" lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CSS Grid Layout</title>
  <meta name="description" content="CSS Grid layout contiente funciones de diseño dirigidas a los desarrolladores de aplicaciones web. El CSS grid se puede utilizar para lograr muchos diseños diferentes. Destaca por dividir una página en regiones principales, o definir la relación en términos de tamaño, posición y capas entre partes de un control construido a partir de primitivas HTML.">
  <link rel="shortcut icon" href="assets/img/favicon.ico">
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="assets/css/app.min.css" />
</head>

<body>
	<!-- /////// Botón para ir al principio -->
	<a class="hide-for-small-only" href="#inicio">
	  <i class="fa fa-chevron-circle-up fa-2x ir-arriba"></i>
	</a>
	<!-- */Botón para ir al principio -->