<!doctype html>
<html class="no-js" lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CSS Grid Layout</title>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" type="text/css" href="assets/css/app.min.css" />
</head>

<body>
	<!-- /////// Botón para ir al principio -->
	<a class="hide-for-small-only" href="#inicio">
	  <i class="fa fa-chevron-circle-up fa-2x ir-arriba"></i>
	</a>
	<!-- */Botón para ir al principio -->