    <!-- ************* CORE JS -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/sweetalert2.all.js"></script>
    <script src="assets/js/select2.min.js"></script>
    <script src="assets/js/what-input.js"></script>
    <script src="assets/js/foundation.min.js"></script>
    <script src="assets/js/coordenadas.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAiPl8qyIqEU8MWTi7W3kArAhlv4VogU1I&callback=initMap"
        async defer></script>

    <script src="assets/js/emergencias.js"></script>
    <script src="assets/js/app.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>
</html>

  